:root {
  --crl-neutral-100: whitesmoke;
  --crl-neutral-200: hsl(0, 0%, 83%);
  --crl-neutral-300: hsl(0, 0%, 63%);
  --ff-primary: "Pretendard", sans-serif;
}

body {
  font-family: var(--ff-primary);
}
